src/main/mule/exception-handling.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b131272-2487-42c7-a5f1-e0b2d80c7e46" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="exception-handlingFlow" doc:id="5fb2891c-a7c2-4611-8d40-7f580aa7d63d" >
		<http:listener doc:name="Listener" doc:id="46222958-1781-4bbe-bf5c-3df8cada0f99" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#["Hello MuleSoft"]' doc:name="Set Payload" doc:id="829ed1b7-f288-4170-89ea-754d966fb6d3" />
		<logger level="INFO" doc:name="Logger" doc:id="f82deaa8-519c-4633-942a-3e29e7362be4" message="#[payload]"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5eccae11-e6ba-4597-a0c2-d32fd18668f1" >
				<logger level="INFO" doc:name="Logger" doc:id="9dd3a662-b8b6-43f1-a646-efd97003ad4b" message="#[payload]"/>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
